*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 60px;
    min-height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 0.3rem 2rem;
}

nav .nav-branding {
    display: flex;
    justify-content: start;
    gap: 0.5rem;
    align-items: center;
    height: 100%;
}

.nav-branding img {
    height: 40px;
}

.nav-branding h1 {
    color: white;
    text-transform: uppercase;
}

nav .nav-items {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}

.nav-items a {
    color: white;
    padding: 0.3rem 0.6rem;
    text-decoration: none;
}

.nav-items a:hover {
    color: aqua;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
    width: 100vw;
    background-color:lightgrey;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid darkgray;
    padding: 1.5rem;
    border-radius: 5px;
    gap: 1.5rem;
    min-width: 30%;
}

form div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

form div label {
    font-size: 0.8rem;
    color: grey;
}

form div input {
    width: 100%;
    padding: 0.3rem 0.2rem;
}

form button {
    padding: 0.3rem 0.2rem;
    background-color:blue;
    color: white;
    border: 1px solid blue;
    border-radius: 5px;
    cursor: pointer;
}